.stack-work/
*~

# Manual ignores
ignore/

# vim
*.swp

# Project-local Gems
# https://blog.jez.io/ruby-virtualenvs/
.gems

# Jekyll temp files
.sass-cache
_site

# twitanalysis packages
built-packages/
